name: Build release

on:
  push:
    branches: [ "*" ]

env:
    NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages

jobs:
  build:
    runs-on: windows-latest  

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Install .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7
        cache: true

    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v1.0.2

    - name: Restore
      run: dotnet restore --locked-mode

    - name: Debug
      run: tree

    - name: Build
      run: dotnet publish -c Release
      
    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: Exe
        path: publish\ThreeFingersDrag.exe

